$font-family: "Quicksand", sans-serif;
$font-family-bold: "Oswald", sans-serif;
:root {
    /* Light Mode Variables */
    --primary-color: #A54CDC;
    --secondary-color: #FFBE00;
    --primary-color-lightest: rgba(165, 76, 220, 0.2);
    --secondary-color-lightest: rgba(0, 0, 0, 0.1);
    --body-bg: #fff;
    --body-color: #000;
    --light: #f5f5f5;
    --lightdark: #878787;
    --white:#fff;
    --black:#000;
  } 
  