// _global.scss
@use '../styles/variables' as *;
body, html {
    font-family: $font-family;
    background-color: var(--body-bg); 
    color: var(--body-color);
    padding: 0; 
    margin: 0;
}
*{
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: var(--black);
}
button{
  cursor: pointer;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover,&:focus{
    text-decoration: none;
    outline: none; 
  }
}
.bg-light{
  background-color: var(--light) !important; 
}
img{
  max-width: 100%;
  height: auto;
}
.slide-arrow{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 0.8);
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    svg{
        width: 15px;
        height: 15px;
    }
    &.prev-arrow{
        transform: translateY(-50%) rotate(180deg);
        svg {
            margin-right: -3px;
        }
    }
    &.next-arrow{
        right: 0;
        svg{
            margin-right: -4px;
        }
    }
    &:hover{
      background-color: var(--secondary-color);
      opacity: 1;
    }
}
.pro_heading{
margin-bottom: 60px;
h2{
    font-size: 32px;
    line-height: 38px;
    color: var(--body-color);
    margin: 0;
}

p{
    font-size: 16px;
    line-height: 18px;
    margin: 15px 0 0;
}
}
.slick-slide {
    outline: none;
    padding-right: 15px;
    padding-left: 15px;
}
.container{
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
  max-width: 1851px;
}
.row > *{
  padding: 0 15px;
}
.row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}
.container-fluid {
  padding-right: 52px;
  padding-left: 52px;
  margin-right: auto !important;
  margin-left: auto !important;
}
.btn{
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

}
.btn-primary{
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
  &:hover{
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}
.btn-outline-primary{
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  &:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
  }
}
.slick-list{
  padding: 0 0;
}
.btnPurple{
  cursor: pointer;
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 23px 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--white);
  color: var(--black);
  border-radius: 50px;
  border: 2px solid var(--black);
  box-shadow: -3px 6px 0px var(--primary-color), 
              -3px 6px 0px var(--primary-color);
  transition: transform 0.8s ease-in-out;
  text-transform: capitalize;
  &:hover{
    color: var(--primary-color);
    transition: transform 1s ease-in-out;
    img{
      transform: rotate(45deg);
      margin-bottom: -5px;
    }
  }

}
.btn-sm{
  padding: 15px 46px;
  &.btnPurple{
    box-shadow: -1px 3px 0px var(--primary-color), 
              -1px 3px 0px var(--primary-color);
  }
}
.custom-arrow[disabled]{
  opacity: 0.6 !important;
}
@media screen and (max-width:1600px) {
  .btnPurple{
    gap: 5px;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 24px;
  }
  .btn-sm{
      padding: 14px 44px;
  }
  .container{
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width:1200px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width:768px) {
    .btnPurple {
        gap: 5px;
        padding: 18px 42px;
        font-size: 16px;
        line-height: 22px;
    }
    .btn-sm {
        padding: 14px 42px;
    }
}
